%h4= @activity.title
%ul
  %li= @activity.description
  %li= @activity.address

- if @activity.users.include?(current_user)
  = button_to 'Leave activity', membership_path(current_user.memberships.where(:activity_id => @activity).first), :method => :delete
- else
  = button_to 'Join activity', memberships_path(:user_id => @user, :activity_id => @activity), :method => :post

%h4 Organiser
= @owner

%h4 Members
%ul
- @activity.users.each do |user|
  %li= user.name

%h4 Comments
= render "comments/form"
= render "comments/comments"