<!DOCTYPE html>
<html>
	<head>
		<title>ActivityFinder</title>
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
		<![endif]-->
		<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<div id="container">
			<div id="user_nav">
				<%= render :partial => 'layouts/intellinav' %>
			</div>
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, id: "flash_#{name}" %>
			<% end %>
		</div>

		<%= render :partial => 'activities/all', :locals => {:activities => @activities } %>

		<%= yield %>
	</body>
</html>
